<div class="col-md-4">
	<% @posts.each do |post| %>
		<h1><%= link_to image_tag(post.image.url(:small), class: 'img-rounded'), post_path(post) %>
		<%= link_to post.title, post_path(post) %></h1>
		<%= pluralize(post.comments.count, "Comment") %>
	<% end %> 
</div>

<%= link_to "Add new Inspiration", new_post_path %>